html{
    border-bottom: 6px solid gold;
    padding-bottom: 5px;
}
body{
    margin: 0;
    border-top: 3px solid gold;
    background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
    background-repeat: no-repeat;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#gombtarolo{
    display: inline-block;
    text-align: center;
    width: 100%;
    position: fixed;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
}
.menu:hover{
    background-color: gold;
}
#egy{
    max-width: 22.7%;
    float: right;
    margin-right: 80px;
    margin-left: 40px;
}
#ketto{
    max-width: 22.7%;
    float: left;
    margin-right: 80px;
    margin-left: 80px;
}
#harom{
    max-width: 100%;
    float: right;
    margin-right: 80px;
    margin-left: 80px;
}
#negy{
    float: left;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 13%;
}
p{
    float: left;
}
.sorok{
    clear: both;
    padding-top: 10px;
    height: auto;
    display: block;
    text-align: justify;
}
.bal{
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
}
.jobb{
    margin-right: 80px;
    margin-top: 20px;
    font-size: 20px;
}
#kepgaleria{
    clear: both;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Droid Serif', serif;
}
#keptarolo2{
    text-align: center;
}
.galeri{
    max-width: 25%;
}
#kicsi{
    max-width: 15%;
}