html{
    border-bottom: 6px solid gold;
    padding-bottom: 5px;
}
body{
    margin: 0;
    border-top: 3px solid gold;
    background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
    background-repeat: no-repeat;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    background-image: url(kep/o2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gombtarolo{
        display: none;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 44px;
    }
#menu{
    display: inline-block;
    position: fixed;
    left: 82px;
    top: 35px;
    color: white;
    font-size: 13px;
    text-shadow: 2px 2px black;
}
#menu2{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    font-size: 25px;
    position: fixed;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow:  5px 5px 10px #252222;
}
.menu:hover{
    background-color: gold;
}
#e:link{
    background-color: gold;
}
#egy{
    max-width: 22.7%;
    float: right;
    margin-right: 80px;
    margin-left: 40px;
}
#ketto{
    max-width: 22.7%;
    float: left;
    margin-right: 80px;
    margin-left: 80px;
}
#harom{
    max-width: 100%;
    float: right;
    margin-right: 80px;
    margin-left: 80px;
}
#negy{
    float: left;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 13%;
}
#ot{
    max-width: 100%;
    float: right;
    margin-right: 80px;
    margin-left: 80px;
}
#hat{
    float: left;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 13%;
}
#het{
    max-width: 100%;
    float: right;
    margin-right: 80px;
    margin-left: 80px;
}
#nyolc{
    float: left;
    float: left;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 13%;
}
p{
    float: left;
}
.sorok{
    clear: both;
    padding-top: 10px;
    height: auto;
    display: block;
    text-align: justify;
}
.bal{
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}
.jobb{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
}
#kepgaleria{
    clear: both;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Maven Pro', sans-serif;
}
#keptarolo2{
    text-align: center;
}
.galeri{
    max-width: 25%;
}
#kicsi{
    max-width: 15%;
}
@media screen and (max-width: 760px){

    img{
        width: 200px;
    }
    .jobb{

        margin: 5px 50px 5px 50px;
    }
    .bal{

        margin: 5px 50px 5px 50px;
    }
    #egy{
        max-width: 50%;
        margin-left: 15px;
    }
    #ketto{
        margin-right: 15px;
        max-width: 50%;
        float: left;
        margin-left: 80px;
    }
    #harom, #negy{
        max-width: 50%;
    }
    .galeri{
        width: 70px;
    }
    .menu{
        display: block;
        margin-top: 2px;
        box-shadow: 0;
        font-size: 15px;
    }
    #gomb{
        display: inline-block;
        position: fixed;
        left: 75px;
        margin-top: 5px;
    }
    body{
        margin: 0;
        border-top: 3px solid gold;
        background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
        background-repeat: no-repeat;
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
}
@media screen and (max-width: 1024px){
    body{
        margin: 0;
        border-top: 3px solid gold;
        background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
        background-repeat: no-repeat;
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }
    b{
        font-size: 15px;
    }
    .bal{
        float: right;
    }
    .jobb{
        float: left;
    }
    #gombtarolo{
        display: none;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 39px;
    }
    #menu2{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px 0 5px 15px;
        font-size: 25px;
        position: fixed;
        display: block;
    }
    #hat{
        float: left;
        float: left;
        margin-left: 80px;
        margin-right: 80px;
        max-width: 50%;
    }
    #nyolc{
        max-width: 50%;
    }
}