
body, html{
    height: 100%;
    margin: 0;
}
body{
    background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('kep/b13.jpg');
    background-position: center;
    background-size: cover;
}
#header{
    border-top: 3px solid gold;
}

#cim{
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px black;
    margin-top: 100px;
}
#gord{
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 670px;
}
#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 43px;
}
#kep{
    width: 35%;
    height: auto;
    display: block;
    margin: auto;
}
#menu2{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    font-size: 25px;
    position: fixed;
    cursor: pointer;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1px;
}
.menu:hover{
    /*background-color: rgba(2, 20, 100, 0.5);*/
    background-color: gold;
}
#c:link{
    background-color: gold;
}
#gombtarolo{
    display: inline-block;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 1024px){
    #gombtarolo{
        display: none;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }
    #menu2{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px 0 5px 15px;
        font-size: 25px;
        position: fixed;
        display: block;
    }
    .menu{
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px;
        display: block;
        color: white;
        font-size: 25px;
        text-align: center;
        margin-top: 1px;
    }

}