html{
    border-bottom: 6px solid gold;
    padding-bottom: 15px;
}
body{
    margin: 0;
    border-top: 3px solid gold;
    background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
    background-repeat: no-repeat;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    background-image: url(kep/o2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#tarolo{
    display: flex;
    width: 100%;
}
#container{
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 60px 10% 10% 10%;
    padding-left: 20%;
    padding-right: 10%;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    font-family: 'Maven Pro', sans-serif;
}
#eddigi{
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Maven Pro', sans-serif;
}
#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 43px;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px #252222;
    margin-top: 1px;
}
.menu:hover{
    background-color: gold;
}
/*#f:link{
    background-color: gold;
}*/
#menu2{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    font-size: 25px;
    position: fixed;
}
#keptok{
    text-align: center;
}
.number{
    position: relative;
    color: white;
    top: 92px;
    left: -185px;
}
#slideshow{
    width: 25%;
    height: 25%;
    margin-top: 70px;
    margin-left: 37.5%;
}
.slide {  
    display: none;  
}  
#slideshow .active {  
    display: block;  
}  
img{
    width: 400px;
    margin-left: 0%;
    box-shadow: 5px 5px 10px black;
}
@media screen and (max-width: 760px){
    #container{
        max-width:  100%;
        margin: 0; 
        font-size: 25px;
    }
    .menu{
        display: block;
        margin-top: 1px;
        box-shadow: 0;
    }
    #slideshow{
        width: 50%;
        /* box-shadow: 5px 5px 10px #979a9e;*/
        margin-bottom: 15px;
        margin-left: 5%;
    }
    img{
        width: 200px;
        box-shadow: 5px 5px 10px black;
    }
    body{
        margin: 0;
        border-top: 3px solid gold;
        background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
        background-repeat: no-repeat;
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }
    #slideshow{
        width: 25%;
        height: 25%;
        margin-top: 70px;
        margin-left: 10%;
    }
}
@media screen and (max-width: 1024px){
    body{
        margin: 0;
        border-top: 3px solid gold;
        background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
        background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
        background-repeat: no-repeat;
        -webkit-user-select: none; /* Chrome, Opera, Safari */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }
    img{
        width: 300px;
    }
}