*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: buttonshadow;

}
#tarolo{
    display: flex;
    width: 100%;
}
#container{
    width: 100%;
}
.text-container{
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: justify;
}
p{
    text-align: justify;
    padding: 10px;
    padding-left: 25%;
    font-size: 25px;
}
.eddigi{
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 43px;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px #252222;
    margin-top: 1px;
}
.menu:hover{
    background-color: gold;
}
/*#f:link{
    background-color: gold;
}*/
#menu2{
    display: block;
    border-top: 3px solid gold;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    position: fixed;
    cursor: pointer;
    font-size: 25px;
    color: gold;
    padding-left: 40px;
}
span{
    padding-left: 70%;
}
#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 44px;
    width: 100%;
}
#keptok{
    text-align: center;
}
.number{
    position: relative;
    color: white;
    top: 92px;
    left: -185px;
}
#slideshow{
    margin-top: 70px;
}
.slide {  
    display: none;  
}  
#slideshow .active {  
    display: block;  
}  
img{
    width: 400px;
    margin-left: 0%;
    box-shadow: 5px 5px 10px black;
}
@media(max-width:1024px){
    .szoveg{
        margin-left: 5%;
    }
    span{
        font-size: 15px;
        padding: 60%;
    }
    .menu{
        display: block;
        margin-bottom: 2px;
        width: 130px;
    }
    .mobil{
        margin-top: 30px;
    }
    img{
        width: 300px;
    }
    p{
        padding-left: 0;
    }

    #container{
        max-width:  100%;
        margin: 0; 
        font-size: 25px;
    }
    .menu{
        display: block;
        margin-top: 1px;
        box-shadow: 0;
    }

    img{
        width: 60%;
        box-shadow: 5px 5px 10px black;
    }

    #slideshow{
        margin-top: 70px;
    }
    #keptok{
        text-align: center;
    }

}


