body{
    background-image: -webkit-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -moz-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -ms-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: -o-linear-gradient(top, #aeacba, #e2e1e7);
    background-image: linear-gradient(to bottom, #aeacba, #e2e1e7);
    background-repeat: no-repeat;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    border-top: 2px solid gold;
    margin: 0;
}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
}
.menu:hover{
    background-color: gold;
}
#gombtarolo{
    display: inline-block;
    text-align: center;
    width: 100%;
}
#slideshow .active{
    text-align: center;
    display: block;
}
.slide{
    display: none;
}
img{
    width: 500px;
}
.cim{
    font-size: 20px;
    text-decoration: underline;
}
p{
    text-align: center;
}
