*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: buttonshadow;

}

#menu2{
    display: block;
    border-top: 3px solid gold;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    position: fixed;
    cursor: pointer;
    font-size: 25px;
    color: gold;
    padding-left: 40px;
}

.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px #252222;
}
.menu:hover{
    background-color: gold;
}
span{
    padding-left: 70%;
}
#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 43px;
    cursor: pointer;
}
#slideshow .active{
    text-align: center;
    display: block;
}
.slide{
    display: none;
}
.numbertext{
    color: white;
    position: relative;
    top: 70px;
    left: -200px;
}
img{
    width: 450px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px #252222;
}
.cim{
    font-size: 22px;
    text-decoration: underline;
    padding-top: 20px;
}
p{
    text-align: center;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
}
@media screen and (max-width: 1024px){
    #gombtarolo{
        display: none;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 42px;
    }
    #menu2{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: gold;
        padding: 5px 0 5px 15px;
        font-size: 25px;
        position: fixed;
        display: block;
    }
    span{
        padding-left: 60%;
        font-size: 15px;
    }
    .menu{
        display: block;
        margin-top: 2px;
        box-shadow: 0;
        width: 130px;
    }
}

@media screen and (max-width: 760px){

    img{
        width: 200px;
    }

    .numbertext{
        color: white;
        position: relative;
        top: 70px;
        left: -90px;
    }
}
