*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: buttonshadow;

}
.menu{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    width: 120px;
    display: inline-block;
    color: white;
    font-size: 25px;
    text-align: center;
    box-shadow:  5px 5px 10px #252222;
    cursor: pointer;
}
a:hover{
    background-color: gold;
}
#menu2{
    display: block;
    border-top: 3px solid gold;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0 5px 15px;
    position: fixed;
    cursor: pointer;
    font-size: 25px;
    color: gold;
    padding-left: 40px;
}
span{
    padding-left: 70%;
}
#gombtarolo{
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 44px;
    width: 100%;
}
.row{
    width: 100%;
    padding-top: 4%;
}
.col1{
    float: left;
    width: 40%;
    margin-top: 2.5%;
    clear: both;
}
img{
    width: 70%;
    margin-left: 5%;
    box-shadow: 2px 2px 2px #000;
}
.col2{
    float: left;
    width: 60%;
    margin-top: 5%;
    clear: right;
}
.szoveg{
    margin-top: 5px;
    padding: 5px;
    padding-right: 5%;
    text-align: justify;
}
.align{
    margin-top: -2.5%;
}
.plus{
    margin-top: -4%;
}
@media(max-width:1024px){
    .col1{
        display: inline-block;
        float: none;
        width: 100%;
    }   
    .col2{
        display: inline-block;
        float: none;
        width: 100%;
    }
    img{
        margin-left: 15%;
    }
    .szoveg{
        margin-left: 5%;
    }
    span{
        font-size: 15px;
        padding: 60%;
    }
    .menu{
        display: block;
        margin-bottom: 2px;
        width: 130px;
    }
}
@media(max-width:768px){
    .mobil{
        margin-top: 30px;
    }
}